#titleheader{
    text-align: center;
    border: darkgrey;
}

#lists {
    color: darkgreen;

}
body {
    background-color: lightblue;
  }

#nameHeader {
    text-decoration: underline;
     
}

#streetP{
    border-style: dotted dashed solid double;
    
    justify-content: center;
}

#experienceDiv {
    font-style:oblique;
    display:flex;
    justify-content: flex-end;
}


